.App {
  display: flex;
  flex-direction: column;
}

.ModeButton {
  margin-left: 2em;
  background: none;
  border: none;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

.EmojiInput {
  font-size: 2em;
  margin: 1em;
}

.IPEntry {
  margin: 1em;
  border: 1px solid #DDD;
  padding: 1em;
  text-align: center;
}

.IPAddress {
  font-size: 2em;
}

.Status {
  font-size: 1.5em;
  margin: 0;
}

.ByteList {
  color: #666;
  font-size: 0.8em;
  margin-top: -2em;
  margin-left: 2rem;
}