.App {
  padding: 1em;
}

@media (min-width: 768px) {
  .App {
    padding: 2em;
  }
}

.ForwardApp,
.ReverseApp
{
  display: flex;
  flex-direction: column;
}

.LinkButton {
  background: none;
  border: none;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}

.EmojiInput {
  font-size: 2em;
  margin: 1em 0;
}

.IPEntry {
  margin: 1em;
  border: 1px solid #DDD;
  padding: 1em;
  text-align: center;
}

.IPAddress {
  font-size: 2em;
}

.Status {
  font-size: 1.5em;
  margin: 0;
}

.ByteList {
  color: #666;
  font-size: 0.8em;
  margin-top: -2em;
}

.ByteList span {
  margin-right: 0.2em;
}

.ByteList span:nth-child(4n) {
  border-right: 1px dashed #666;
  padding-right: 0.2em;
}

.ByteList span:last-child {
  border-right: none;
}

.Bytes {
  font-family: 'Courier New', Courier, monospace;
}